body {
    margin: 0;
    padding: 0;
    border: 0;
}

.wrapper {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}

#text,
input {
    width: 100%;
    padding: 10px;
    border-style: ridge;

    text-align: justify;

    box-sizing: border-box;
}

#text {
    margin-top: 20px;
}

input {
    margin-top: 50px;
}

#time_r {
    width: 50px;
    height: 50px;
    margin-top: -90px;
    margin-left: 10px;
    border-style: ridge;

    text-align: center;
    line-height: 50px;
}