.todo-container {
    width: 100%;
    height: 100%;
    padding: 30px;

    box-sizing: border-box;

    overflow: hidden;

    input {
        width: 100%;
        height: 30px;

        font-size: 20px;

        outline: none;
    }

    .list {
        padding: 20px 10px;

        .list-item {
            @item-height: 30px;
            @date-height: 20px;
            @btn-width: @item-height;

            position: relative;

            height: @item-height;
            margin-bottom: @date-height;
            border-bottom: 1px solid #000;

            &:not(:first-child) {
                margin-top: 10px;
            }

            .name {
                margin-left: @btn-width;
                margin-right: @btn-width;

                font-size: 18px;
                line-height: @item-height;
            }

            .btn {
                position: absolute;
                top: 0;

                width: @btn-width;

                font-size: 24px;
                font-family: monospace;
                line-height: @item-height;
                text-align: center;

                cursor: pointer;

                &.select-btn {
                    left: 0;

                    &[data-selected] {
                        color: #3333ff;
                    }
                }

                &.remove-btn {
                    right: 0;

                    color: brown;
                }
            }

            .date {
                position: absolute;
                bottom: -@date-height;
                right: 0;

                height: @date-height;

                font-size: 14px;
                line-height: @date-height;
                color: blue;
            }
        }

        .remove-selected-btn {
            font-size: 16px;
        }
    }
}